# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

* @mgrover1
* @zssherman

# any files in the intake_esm directory at the root of the
# repository and any of its subdirectories.
