[run]
source = pyart
include = */pyart/*
omit =
    */setup.py
    */tests*
    pyart/aux_io/*

[report]
exclude_lines =
    pragma: no cover
    if self.debug:
    if debug:
    raise NotImplementedError
    if __name__ == .__main__.:
