# mappings for Jonathan J. Helmus
Jonathan J. Helmus <jjhelmus@gmail.com>

# mappings for Scott Collis
Scott Collis <scollis.acrf@gmail.com>
Scott Collis <scollis.acrf@gmail.com> <scollis@anl.gov>

# mapping for Joseph C. Hardin
Joseph C. Hardin <jhardin@engr.colostate.edu> Joseph Hardin <josephhardinee@gmail.com>
