environment:
    
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\continuous_integration\\appveyor\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python27_32"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "32"

# Test only two environments to speed up CI time
#    - PYTHON: "C:\\Python34_32"
#      PYTHON_VERSION: "3.4"
#      PYTHON_ARCH: "32"

#    - PYTHON: "C:\\Python27_64"
#      PYTHON_VERSION: "2.7"
#      PYTHON_ARCH: "64"

#    - PYTHON: "C:\\Python35_64"
#      PYTHON_VERSION: "3.5"
#      PYTHON_ARCH: "64"

install:
  # install the appropriate Miniconda (Py2/Py3, 32/64 bit),
  - "powershell ./continuous_integration/appveyor/install.ps1"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PYTHON%\\Library\\bin;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "conda info"  
  - "conda list"

  # Install Py-ART dependecies
  - "conda update -y conda"
  - "conda install -y -q numpy scipy matplotlib netcdf4 nose"
  - "if \"%PYTHON_VERSION%\"==\"2.7\" (conda install -y -q basemap)"
  - "conda list"

  # build Py-ART 
  - "%CMD_IN_ENV% python setup.py build_ext -i"

build: false

test_script:
  # run the unit tests
  - "python -c \"import nose; nose.main()\" -v"
