include *.rst
recursive-include doc *
recursive-include examples *.py *.txt
recursive-include pyart *.c *.h *.pyx *.pxd
include README.rst
include INSTALL.rst
include pyart/testing/registry.txt
include pyart/__check_build/README
include pyart/testing/data/*
