name: CI

on:
  schedule:
  # Runs at 09Z (2am CDT)
    - cron: "0 9 * * *"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# This job installs dependencies, build the website, and pushes it to `gh-pages`
jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.python-version }}
    if: github.repository == 'ARM-DOE/pyart'
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
        os: [macos, ubuntu, windows]

    steps:
      - uses: actions/checkout@v4

      # Install dependencies
      - name: Setup Conda Environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: continuous_integration/environment-ci.yml
          environment-name: pyart-dev
          cache-downloads: true
          create-args: python=${{ matrix.python-version }}

      - name: Fetch all history for all tags and branches
        run: |
           git fetch --prune --unshallow

      - name: Install PyART
        shell: bash -l {0}
        run: |
          python -m pip install -e . --no-deps --force-reinstall

      - name: Run Linting
        shell: bash -l {0}
        run: |
          ruff check .

      - name: Run Tests
        id: run_tests
        shell: bash -l {0}
        run: |
          python -m pytest -v --cov=./ --cov-report=xml

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v4.5.0
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
